
<nav style="width: 100%;box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
  
    <div  class="main">

<div class="main-nav flex">
  <a href="" class="company-logo">
    <img src="http://slyce.kevalam.info/assets/images/logo/logo.svg" alt="Company Logo">
</a>

<div class="location-header">
  
    <ul style="list-style: none;" class="flex">
     
        <li class="header-loc-text">
            <p class="location-container-location">LOCATION</p>
              <p class="location-container-location-down">Vadodara <i class="fa-solid fa-angle-down"></i>
            </p>
        </li>
    </ul>
</div>

<div class="search-area flex">
    <div class="search-box d-flex">
      <i class="fa-solid fa-search me-2"></i><input type="search" name="searchbox" id="search-box-field" placeholder="Search Products...">
    </div>

</div>

<div class="header-categories flex dropdown">
   
        <button style="background-color: transparent;" class="dropbtn dropdown-toggle border-0" data-bs-toggle="dropdown" ><i class="fa-solid fa-film me-2"></i>Categories</button>
          <div class=" dropdown-menu">
          <a class="dropdown-item" href="#">SUBSCRIPTION </a>
          <a class="dropdown-item" href="#">Smoothies <i class="fa-solid mt-1 fa-angle-right" style="color: #000000;float: right;"></i></a>
          <a class="dropdown-item" href="#">Salad Bowls <i class="fa-solid mt-1 fa-angle-right" style="color: #000000;float: right;"></i> </a>
          <a class="dropdown-item" href="#">Fruits <i class="fa-solid mt-1 fa-angle-right" style="color: #000000;float: right;"></i></a>
          <a class="dropdown-item" href="#">Exotic Veggies<i class="fa-solid mt-1 fa-angle-right" style="color: #000000;float: right;"></i> </a>
          <a class="dropdown-item" href="#">Gourmet <i class="fa-solid mt-1 fa-angle-right" style="color: #000000;float: right;"></i></a>
          <a class="dropdown-item" href="#">Cheese <i class="fa-solid mt-1 fa-angle-right" style="color: #000000;float: right;"></i></a>
          <a class="dropdown-item" href="#">Milk & Dairy <i class="fa-solid mt-1 fa-angle-right" style="color: #000000;float: right;"></i></a>
          <a class="dropdown-item" href="#">Breakfast <i class="fa-solid mt-1 fa-angle-right" style="color: #000000;float: right;"></i></a>
</div>
</div>

<div class="header-categories flex">
    <i class="fa-regular fa-user"></i>Sign In / Sign Up

</div>

<div style="border-radius: 8px;" class="cart-button">
    <button class="cartbtn primary-button cart flex">
        <i class="fa-solid fa-cart-shopping"></i>
        My Cart
    </button>
</div>

</div>
</div>
</nav>