
        <!-- footer-->
        <div class="mainfotter">
            <div style="width:91%;margin:auto ;overflow: hidden;"  class="row footer d-flex">
                <div class="footerPart col-12 col-lg-3 col-md-6 col-sm-12">
                    <h1>Categories</h1>
                    <ul>
                        <li><a href="">Smoothies</a></li>
                        <li><a href="">Salad Bowls</a></li>
                        <li><a href="">Fruits</a></li>
                        <li><a href="">Exotic Veggies</a></li>
                    </ul>
                </div>
                <div class="footerPart col-12 col-lg-3 col-md-6 col-sm-12">
                    <ul>
                        <li><a href="">Gourmet</a></li>
                        <li><a href="">Cheese</a></li>
                        <li><a href="">Milk & Dairy</a></li>
                        <li><a href="">Breakfast</a></li>
                    </ul>
                </div>
                <div class="footerPart col-12 col-lg-3 col-md-6 col-sm-12">
                    <h1>Customer Services</h1>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Terms and Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footerPart col-12 col-lg-3 col-md-6 col-sm-12">
                    <h1>Customer Services</h1>
                    <ul>
                        <li><p>Should you encounter any bugs, glitches, lack of functionality, delayed deliveries, billing errors or other problems on the website, please email us on <span><a style="text-decoration: none;" href="">care@slyce.co.in</a></span></p></li>
        
                    </ul>
                </div>
              
            </div>
        </div>
        <div style="color: #aab4b9;" class="rights text-center mt-3 ">
            <p>© 2021 All rights reserved. Slyce</p>
        </div>
    
