* {
  font-family: "Okra", Helvetica;
}

.main-nav {
  justify-content: space-around !important;
  display: flex;
  border-bottom: 1px solid #cdcdcd;
  padding: 5px;

  align-items: center !important;
  background-color: white;
  flex-wrap: wrap;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 20 !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.company-logo {
  align-items: center;
}

.location-header {
  align-items: center !important;
}
.heading {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
}
.header-loc-text {
  margin: 10px;
}

.location-container-location {
  color: #737373;
  font-size: 0.7rem;
  padding: 0px;
  margin: 0px;
  text-align: start;
  margin-bottom: none !important;
}

.location-container-location-down {
  font-size: 1rem;
  padding: 0px !important;
  margin: 0px !important;
}

.location-container-location-down p {
  padding: 0px !important;
  margin: 0px !important;
}

.search-area {
  gap: 5px;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  min-height: 50%;
  min-width: 33%;
  gap: 10px;
  padding: 10px;
}

.search-area:hover {
  border: 1px solid var(--reddark-color);
}
.cart-button:hover {
  background-color: #d11343;
  transition: 0.5s;
  border-radius: 8px;
}

.search-icon img {
  height: 100%;
}

#search-box-field {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  color: #737373;

  font-size: 1rem;
}

.searchbox {
  border: none;
  outline: none;
}

.header-categories {
  display: flex;
  gap: 5px;
  font-size: 1rem;

  align-items: center !important;
  justify-content: center;
  text-align: center;
}

.primary-button {
  background-color: #00a5dc;
  color: white;
  border-radius: 8px;
  padding: 15px;
  font-size: 1rem;
  gap: 8px;
  border: none;
  font-weight: 700;
}

.primary-button:hover {
  background-color: var(--reddark-color);
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: -10px;
  border-radius: 20px;
}
.hero-section {
  margin-top: 120px;
  position: relative;
}
.three-part {
  position: absolute;
  top: 55%;
  left: 7%;
}
.catgory {
  width: 30%;
  border-radius: 20px;
  height: 50%;
  background-color: #123456;
  text-align: center;
}
.catgory img {
  width: 80%;
  color: white;
  overflow: hidden;
  margin-top: 30px;
  padding-bottom: 40px;
  vertical-align: middle;
}
.secondsection {
  margin-top: 255px;
}
.secondsection img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}
.Categories-box {
  overflow: hidden;
}
.allCategories {
  overflow: hidden;
  margin-top: 10px;
  width: 12% !important;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
}
/* .image-c {
  width: 100% !important; 
   display: flex; 
   justify-content: center;
  border-radius: 8px; 
  object-fit: cover;
  overflow: hidden;
 
} */
.allCategories img {
  width: 80%;
  padding: 12px;
  object-fit: cover;
  mix-blend-mode: multiply;
  overflow: hidden;
}
.image-c h6 {
  width: 90%;
  object-fit: cover;
  overflow: hidden;
}

/* ============================================================================================================================================================== */

.allproduct {
  width: 14%;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}
.newarive h5 {
  position: absolute;
  top: 0%;
  left: 6%;
  background: #d11343;
  border-radius: 4px;
  padding: 5px 12px;
  font-size: 11px;
  color: #ffffff;
  z-index: 15;
}
.offPrice h4 {
  position: absolute;
  top: 0%;
  right: 6%;
  background: #00a5dc;
  border-radius: 4px;
  padding: 5px 12px;
  font-size: 11px;
  color: #ffffff;
  z-index: 15;
}
.image {
  width: 100%;
  border-radius: 8px;
  background-color: #e1f3fa;
  display: flex;
  justify-content: center;
}
.productCard {
  justify-content: space-start;
}
.image img {
  border-radius: 8px;
  width: 90%;
  mix-blend-mode: multiply;
  object-fit: fill !important;
  overflow: hidden;
}
.allproduct {
  margin-top: 20px;
  width: 14%;
  justify-content: space-between;
}
.details {
  width: 100%;
  overflow: hidden;
}

.product-price {
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  color: #7c7c7c;
  font-size: 13px;
  text-align: start;
  border-radius: 5px;
  overflow: hidden;
  object-fit: fill;
  border: 0px;
}
.last-line {
  margin-top: 10px;
}
.last-line button {
  background-color: #e1f3fa;
  border: 0px;
  width: 74px;
  height: 32px;
  border-radius: 3px;
}
.details h6 {
  font-weight: bolder;
  font-size: 15px;
  line-height: 20px;
  margin: 10px 5px;
  text-overflow: ellipsis !important;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.salad-banner img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 25px;
}
.offer-banner {
  overflow: hidden;
  width: 80%;
}
.offer-banner img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  overflow: hidden;
}
.footer {
  padding: 50px 0px;
}
.footerPart li > a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}
.footerPart li > a:hover {
  color: #d11343;
}
.footerPart h1 {
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 20px;
  color: #131313;
}

.footerPart li {
  margin-bottom: 12px;
}
.footerPart ul {
  padding: 0px;
  list-style: none;
}
.mobile-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e1ded9;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 5px;
}

.mobile-footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  color: #000000;
  opacity: 0.64;
}

@media (min-width: 1440px) {
  .image-c {
    width: 150%;
  }
  .image {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
  }
}
@media (min-width: 1023px) {
  .image-c {
    width: 150%;
  }
  .allCategories {
    width: 12% !important;
  }
  .company-logo {
    display: block;
  }
  .cartbtn {
    display: block;
  }
  .allproduct {
    width: 14%;
  }
}
@media (max-width: 769px) {
  .secondsection {
    margin-top: 150px;
  }
  .allCategories {
    width: 20% !important;
  }
  .company-logo {
    display: block;
  }
  .cartbtn {
    display: block;
  }
  .allproduct {
    width: 25%;
  }
}
@media (max-width: 426px) {
  .secondsection {
    margin-top: 120px;
  }
  .allCategories {
    width: 33% !important;
    margin-top: 5px;
  }
  .company-logo {
    display: none;
  }
  .cartbtn {
    padding: 10px;
  }
  .allproduct {
    width: 33%;
  }
}

@media screen and (max-width: 1199px) {
  .location-header {
    display: none;
  }
  .header-categories {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .mobile-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e1ded9;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 5px;
  }

  .mobile-footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    color: #000000;
    opacity: 0.64;
  }
}
@media screen and (max-width: 400px) {
  .red-badge {
    font-size: 0.55rem;
  }

  .blue-badge {
    font-size: 0.55rem;
  }
}

@media screen and (max-width: 350px) {
  .red-badge {
    font-size: 0.5rem;
  }

  .blue-badge {
    font-size: 0.5rem;
  }
}
